{% extends 'base.html' %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
   
      <div class='container bg-white'>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset2 main">
         <div class="page-header">
              <h1>{{ newsletter.subject }}</h1>
         </div>
	 {{ newsletter.body }}
    </div>
        <div class='d-flex pb-2 justify-content-center align-items-center'>
		<div class="col-sm-2"><a href="{% url 'control_panel:control_newsletter_edit' pk=newsletter.pk %}"
        ><button class='btn btn-success'>Edit</button></div>
		<div class="col-sm-2"><button>Delete</button></div>
		<div class="col-sm-2"><a href="{% url 'control_panel:control_newsletter' %}"
        ><button class='btn btn-success'>New</button></div>
       </div>       
     </div>


{% endblock %}
