{% extends "base.html" %}

ad static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
<div class="container">
     <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
	   <h3 class="text-center">Sign Up For McPlantsNavan's Newsletter</h3>
	   <form method="POST">{% csrf_token %}
		   <div class="input-group">
			   {{ form }}
			   <span class="input-group-btn">
                               <button class="btn btn-default" type="submit">Subscribe</button>
			   </span>
	           </div>
           </form>
	</div>
     </div>
</div>	
{% endblock %}

