{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %} 

{% block content %}

{% for review in reviews %}

{{ review.id }}

{% endfor %}

<div class="overlay"></div>
	<p class="mt-3">{{ review.plant }}</p>
	<p class="mt-3">{{ review.id }}</p>
	<p class="mt-3">{{ review.rating }}</p>
	<p class="mt-3">{{ review.date }}</p>
	<p class="mt-3">{{ review.review }}</p>
{% if request.user.is_superuser %}
      <small class="ml-3">
<a class="text-danger" href="#">Delete</a>
     </small>

{% endif %}

{% endblock %}

