{% extends 'base.html' %} {% load static %} {% block content %}
<div class="overlay"></div>
<div class="row">
	<div class="mx-auto">
		<h1 class="suggestion-title">Reviews</h1>
		<!-- <a href="" class="btn btn-success stock-btn">Add Review <i class="fas fa-pen-nib"></i></a> -->
	</div>
</div>
<div class="container">
	{% for stock in stocks %}
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
			<p><span class="boldtext">Author:</span> {{stock.units}}</p>
		</div>
		<div class="col-md-10 col-sm-9">
			<h3>{{ stock.name }}</h3>
			<div class="row">
				<div class="col-xs-9">
					<p>{{ stock.content|truncatewords:30 }}</p>
					<!-- <p><a href="" class="btn btn-info">Read more</a></p> -->
					<p><span class="boldtext">Published on:</span> {{ stock.date }} </p>
					<p><span class="boldtext">Review:</span> {{stock.plant}}</p>
					<p><span class="boldtext">Rating:</span> {{ stock.unit }}</p>
				</div>
			</div>
			<hr>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-12">
		{% if stocks.has_other_pages %}
		<ul class="pagination row justify-content-center">
			{% if stocks.has_previous %}
			<li class="page-item px-1">
				<a href="?{{ base }}page={{ stocks.previous_page_number }}" class="page-link">&laquo;</a>
			</li>
			{% else %}
			<li class="page-item disabled px-1">
				<a class="page-link">&laquo;</a>
			</li>
			{% endif %} {% for x in stocks.paginator.page_range %} {% if stocks.number == x %}
			<li class="page-item active px-1">
				<a class="page-link">{{ x }}</a>
			</li>
			{% else %}
			<li class="page-item px-1">
				<a href="?{{ base }}page={{ x }}" class="page-link">{{ x }}</a>
			</li>
			{% endif %} {% endfor %} {% if stocks.has_next %}
			<li class="page-item px-1">
				<a href="?{{ base }}page={{ stocks.next_page_number }}" class="page-link">&raquo;</a>
			</li>
			{% else %}
			<li class="page-item disabled px-1">
				<a class="page-link">&raquo;</a>
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
