{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-white">
        <div class="row">
            <div class="col-12 col-md-6">
              <h1 class='page-header'>Current Stock</h1>
            </div>
                 <div class='col-sm-2'>
                  <a href='#'>
		  <button type='button' class='btn btn-success'>New Stock Item</button>
                  </div></a>
                <hr>
		<div class='table-responsive table-hover'>
                   <table class='table'>
                       <thead>
			       <th>Plant</th>
			       <th>Stock Count</th>
			       <th>Update</th>
			       <th>Delete</th>
		       </thead>
		       <tbody>
                       {% for stock in stocks %}
                        <tr>
			   <td>{{ stock.plant }}</td>
                           <td>{{ stock.units }}</td>
			   <td> <a href="#">Edit</td>
			   <td><a href='#'</a>Delete</td>
		        </tr>
		       {% endfor %}
		       </tbody>
	           </table>
		</div>
        	</div>
            </div>
        </div>
{% endblock %}
